header {
	box-sizing: border-box;
	background-color: #A3E4D7;
	padding: 15px;
	font-size: 36px;
	color: #CB4335;
	text-align: center;
}

.hidden-el {
    		display: block;
    		width: 0;
    		height: 0;
    		text-indent: -10000px;
    	}